In [ ]:
# Here we are creating the object of pandas class
# Syntax: varname=pandas.Series(object,index,dtype,name)

In [2]:
import pandas as pd
a = 100
ser = pd.Series(a)
print(ser,type(ser))

0    100
dtype: int64 <class 'pandas.core.series.Series'>

In [3]:
import pandas as pd
a = 87.40
ser = pd.Series(a)
print(ser,type(ser))

0    87.4
dtype: float64 <class 'pandas.core.series.Series'>

In [6]:
comp = 2+3j
print(comp,type(comp))

# converting into series object
ser = pd.Series(comp)
print(ser,type(ser))

(2+3j) <class 'complex'>
0    2.0+3.0j
dtype: complex128 <class 'pandas.core.series.Series'>

In [8]:
bol = True
print(bol,type(bol))

# converting into series object
ser = pd.Series(bol)
print(ser,type(ser))

True <class 'bool'>
0    True
dtype: bool <class 'pandas.core.series.Series'>

In [10]:
str1 = "Ankit"
print(str1,type(str1))

# converting into series object
sr = pd.Series(str1)
print(sr,type(sr))

Ankit <class 'str'>
0    Ankit
dtype: object <class 'pandas.core.series.Series'>

In [18]:
rg = range(100,210,20)
print(rg,type(rg))

# converting into series object
sr = pd.Series(rg)
print(sr,type(sr))

range(100, 210, 20) <class 'range'>
0    100
1    120
2    140
3    160
4    180
5    200
dtype: int64 <class 'pandas.core.series.Series'>

In [19]:
sr = pd.Series(data=rg,dtype=float)
print(sr)

0    100.0
1    120.0
2    140.0
3    160.0
4    180.0
5    200.0
dtype: float64

In [16]:
rg = range(10,110,10)
print(rg,type(rg))

# converting into series object along with dtype=float
sr = pd.Series(rg,dtype=float)
print(sr,type(sr))

range(10, 110, 10) <class 'range'>
0     10.0
1     20.0
2     30.0
3     40.0
4     50.0
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64 <class 'pandas.core.series.Series'>

In [22]:
lst = [100,True,"Ankit",86.95]
print("content of list =", lst)

# converting into series object
sr = pd.Series(lst)
print(sr,type(sr))

content of list = [100, True, 'Ankit', 86.95]
0      100
1     True
2    Ankit
3    86.95
dtype: object <class 'pandas.core.series.Series'>

In [23]:
# we are giving our own index 
sr = pd.Series(lst,index=['a','b','c','d'])
print(sr)

a      100
b     True
c    Ankit
d    86.95
dtype: object

In [26]:
tup = ("Wagh", 89, False, 56.23)
print("Content of tuple =", tup)

# converting into series object
sr = pd.Series(tup)
print(sr)
print(type(sr))

Content of tuple = ('Wagh', 89, False, 56.23)
0     Wagh
1       89
2    False
3    56.23
dtype: object
<class 'pandas.core.series.Series'>

In [29]:
st = {10,20,30,40}
print(st,type(st))

# converting into series object
# sr = pd.Series(st)
# print(sr)   ------> It will give a TypeError

{40, 10, 20, 30} <class 'set'>

In [35]:
# Code for assiging Programmer-Defined Index for Series object
rg = range(10,60,10)
sr = pd.Series(rg,index=[1,2,3,4,5])
print(sr)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [39]:
print(sr[1])

10

In [42]:
rg = range(10,60,10)
sr = pd.Series(rg,index=['idx1','idx2','idx3','idx4','idx5'])
print(sr)

idx1    10
idx2    20
idx3    30
idx4    40
idx5    50
dtype: int64

In [45]:
print(sr['idx1'])

10

In [ ]:
#NOTE-1: When we assign Integer Programmer Indices Then PVM Will not consider Defult Indices
        # We get key when access with default indices
# Note-2: When we assign Str Programmer Indices 
# we can access the Elements of Series either w.r,t Programmer Defined Str Indices and 
# also with Deafult Indices (Not Recommended in Future Version)

In [59]:
# Creating the dict type object
import pandas as pd
dic = {10:'ankit', 20:'krishna', 30:'Gaurav', 40:'kunal'}
print("Content of dictionary is =", dic)

# convert into series
ser = pd.Series(dic)
print(ser,type(ser))

Content of dictionary is = {10: 'ankit', 20: 'krishna', 30: 'Gaurav', 40: 'kunal'}
10      ankit
20    krishna
30     Gaurav
40      kunal
dtype: object <class 'pandas.core.series.Series'>

In [62]:
# we can access the value using there index
ser[10]
for i in range(10,50,10):
    print(ser[i],end=' ')

ankit krishna Gaurav kunal

In [56]:
for ind,val in dic.items():
    print(ind,val)

10 ankit
20 krishna
30 Gaurav
40 kunal

In [64]:
n = None 
print(n,type(n))

# converting into pandas series object
ser = pd.Series(n)
print(ser,type(ser))

None <class 'NoneType'>
Series([], dtype: object) <class 'pandas.core.series.Series'>

In [68]:
# creating the series object of ndarray 
import numpy as np
import pandas as pd
arr = np.array([10,20,30,40])
print(arr,type(arr))
print('----------------------------------')
ser = pd.Series(arr)
print(ser,type(ser))

[10 20 30 40] <class 'numpy.ndarray'>
----------------------------------
0    10
1    20
2    30
3    40
dtype: int64 <class 'pandas.core.series.Series'>

In [70]:
# Giving our own index
ser = pd.Series(arr,index=[100,200,300,400],dtype=float)
print(ser)

100    10.0
200    20.0
300    30.0
400    40.0
dtype: float64