# DataFrame Attributes

In [ ]:
# List of Attributes given bellow
# 1) DataFrameObject.index
# 2) DataFrameObject.columns
# 3) DataFrameObject.axes
# 4) DataFrameObject.dtypes
# 5) DataFrameObject.size
# 6) DataFrameObject.shape
# 7) DataFrameObject.ndim
# 8) DataFrameObject.empty
# 9) DataFrameObject.values
# 10) DataFrameObject.T

In [7]:
import pandas as pd
stud_marks_rank = [["Rossum",1,95],["Travis",3,80],["MCKinney",2,90],['JHunter',4,89],['Dennis',5,79]]
df = pd.DataFrame(stud_marks_rank,columns=["Names","Rank","Marks"],index=["Row"+str(chr(i)) for i in range(65,70)])
print(df)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79

In [8]:
# Attribute Name:  index ---->Give Row Index Names
# Syntax:    DataFrameObject.index
print(df.index)

Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')

In [9]:
#Attribute Name:  columns ---->Give columns Index Names
#Syntax:    DataFrameObject.columns
print(df.columns)

Index(['Names', 'Rank', 'Marks'], dtype='object')

In [15]:
#Attribute Name:  axes ---->Gives Both Row Index and Column Index
#Syntax:    DataFrameObject.axes
print(df)
print('------------------------------')
print(df.axes)
print('----------------------')
for axis in df.axes:
    print(axis)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
------------------------------
[Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object'), Index(['Names', 'Rank', 'Marks'], dtype='object')]
----------------------
Index(['RowA', 'RowB', 'RowC', 'RowD', 'RowE'], dtype='object')
Index(['Names', 'Rank', 'Marks'], dtype='object')

In [18]:
#Attribute Name:  dtypes ---->Gives Individul Column Type and Overall Data Type of DF
#Syntax:    DataFrameObject.dtypes
print(df)
print('---------------')
print(df.dtypes)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
---------------
Names    object
Rank      int64
Marks     int64
dtype: object

In [20]:
# Attribute Name:  size ---->Gives Number of Row X cols
# Syntax: DataFrameObject.size
print(df)
print('----------------')
print("Number of Entries =", df.size)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
----------------
Number of Entries = 15

In [22]:
# Attribute Name:  sahpe ---->Gives (Rows, Cols)
# Syntax:    DataFrameObject.shape
print(df)
print('--------------------')
print(df.shape)
print("Number of Rows =", df.shape[0])
print("Number of Columns =", df.shape[1])

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
--------------------
(5, 3)
Number of Rows = 5
Number of Columns = 3

In [24]:
print(df)
print('--------------------')
print("Table contains {} Rows and {} columns with size is {}".format(df.shape[0],df.shape[1],df.size))

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
--------------------
Table contains 5 Rows and 3 columns with size is 15

In [25]:
#Attribute Name:  ndim ---->Gives Dimension of DataFrame
#Syntax:    DataFrameObject.ndim
print(df)
print('-------------------')
print("Dimension of Dataframe object is =", df.ndim)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
-------------------
Dimension of Dataframe object is = 2

In [26]:
#Attribute Name:  empty ---->Gives True in the case of empty OR False in the Case of Non-Empty
#Syntax:    DataFrameObject.empty
print(df)
print("--------------------")
print("Is dataframe object is empty =", df.empty)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
--------------------
Is dataframe object is empty = False

In [28]:
# creating empty dataframe object
df1 = pd.DataFrame()
print(df1)
print('-----------------')
print("Is Dataframe object is Empty =", df1.empty)

Empty DataFrame
Columns: []
Index: []
-----------------
Is Dataframe object is Empty = True

In [30]:
#Attribute Name:  values ---->Gives DataSet of DataFrame
#Syntax:    DataFrameObject.values
print(df)
print('---------------------')
print(df.values,type(df.values))

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
---------------------
[['Rossum' 1 95]
 ['Travis' 3 80]
 ['MCKinney' 2 90]
 ['JHunter' 4 89]
 ['Dennis' 5 79]] <class 'numpy.ndarray'>

In [32]:
#Attribute Name:  T ---->Gives Transpose of DataFrame (Row becomes cols and Cols becomes Rows )
#Syntax:    DataFrameObject.T
print("Original Dataframe ")
print(df)
print('------------------')
print("Transpose Dataframe ")
print(df.T)

Original Dataframe
         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79
------------------
Transpose Dataframe
         RowA    RowB      RowC     RowD    RowE
Names  Rossum  Travis  MCKinney  JHunter  Dennis
Rank        1       3         2        4       5
Marks      95      80        90       89      79

In [33]:
print(df)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79