# Iterate over Rows and Columns of DataFrame

In [1]:
import pandas as pd
# List of Tuples
empoyees = [(11, 'jack', 34, 'Sydney', 5) ,
            (12, 'Riti', 31, 'Delhi' , 7) ,
            (13, 'Aadi', 16, 'New York', 11) ,
            (14, 'Mohit', 32,'Delhi' , 15) ,
            (15, 'Veena', 33, 'Delhi' , 4) ,
            (16, 'Shaunak', 35, 'Mumbai', 5 ),
            (17, 'Shaun', 35, 'Colombo', 11)]
# Create a DataFrame object
df = pd.DataFrame(empoyees,
                  columns=['ID', 'Name', 'Age', 'City', 'Experience'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'h'])
# Display the DataFrame
print(df)

   ID     Name  Age      City  Experience
a  11     jack   34    Sydney           5
b  12     Riti   31     Delhi           7
c  13     Aadi   16  New York          11
d  14    Mohit   32     Delhi          15
e  15    Veena   33     Delhi           4
f  16  Shaunak   35    Mumbai           5
h  17    Shaun   35   Colombo          11

In [4]:
# Approach-1: Iterate Rows of DataFrame with Row Labels
for lab,rows in df.iterrows():
    print('*'*40)
    print("Label of Row =", lab)
    print("Row values are =", rows.values)

****************************************
Label of Row = a
Row values are = [11 'jack' 34 'Sydney' 5]
****************************************
Label of Row = b
Row values are = [12 'Riti' 31 'Delhi' 7]
****************************************
Label of Row = c
Row values are = [13 'Aadi' 16 'New York' 11]
****************************************
Label of Row = d
Row values are = [14 'Mohit' 32 'Delhi' 15]
****************************************
Label of Row = e
Row values are = [15 'Veena' 33 'Delhi' 4]
****************************************
Label of Row = f
Row values are = [16 'Shaunak' 35 'Mumbai' 5]
****************************************
Label of Row = h
Row values are = [17 'Shaun' 35 'Colombo' 11]

In [8]:
# Approach-2: Iterate Rows of DataFrame with Row Indices(Positions)
for i in range(0,df.shape[0]):
    print('---------------------------------------')
    print("Row index =", i)
    print("Row value is =", df.iloc[i].values)

---------------------------------------
Row index = 0
Row value is = [np.int64(11) 'jack' np.int64(34) 'Sydney' np.int64(5)]
---------------------------------------
Row index = 1
Row value is = [np.int64(12) 'Riti' np.int64(31) 'Delhi' np.int64(7)]
---------------------------------------
Row index = 2
Row value is = [np.int64(13) 'Aadi' np.int64(16) 'New York' np.int64(11)]
---------------------------------------
Row index = 3
Row value is = [np.int64(14) 'Mohit' np.int64(32) 'Delhi' np.int64(15)]
---------------------------------------
Row index = 4
Row value is = [np.int64(15) 'Veena' np.int64(33) 'Delhi' np.int64(4)]
---------------------------------------
Row index = 5
Row value is = [np.int64(16) 'Shaunak' np.int64(35) 'Mumbai' np.int64(5)]
---------------------------------------
Row index = 6
Row value is = [np.int64(17) 'Shaun' np.int64(35) 'Colombo' np.int64(11)]

In [12]:
# Approach-3: Iterate Columns of DataFrame with Column Names
for colname in df.columns:
    print('-------------------------')
    print("Col-name is =", colname)
    print("Col-values is =", df[colname].values)

-------------------------
Col-name is = ID
Col-values is = [11 12 13 14 15 16 17]
-------------------------
Col-name is = Name
Col-values is = ['jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Shaun']
-------------------------
Col-name is = Age
Col-values is = [34 31 16 32 33 35 35]
-------------------------
Col-name is = City
Col-values is = ['Sydney' 'Delhi' 'New York' 'Delhi' 'Delhi' 'Mumbai' 'Colombo']
-------------------------
Col-name is = Experience
Col-values is = [ 5  7 11 15  4  5 11]

In [14]:
# Approach-4: Iterate Columns of DataFrame with Column Indices (Positions)
for i in range(0,df.shape[1]):
    print('--------------------------------------------')
    print("column index =", i)
    print("column values =", df.iloc[::1,i].values)

--------------------------------------------
column index = 0
column values = [11 12 13 14 15 16 17]
--------------------------------------------
column index = 1
column values = ['jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Shaun']
--------------------------------------------
column index = 2
column values = [34 31 16 32 33 35 35]
--------------------------------------------
column index = 3
column values = ['Sydney' 'Delhi' 'New York' 'Delhi' 'Delhi' 'Mumbai' 'Colombo']
--------------------------------------------
column index = 4
column values = [ 5  7 11 15  4  5 11]

In [15]:
# Another Example 
import pandas as pd
stud_marks_rank = [["Rossum",1,95],["Travis",3,80],["MCKinney",2,90],['JHunter',4,89],['Dennis',5,79]]
df = pd.DataFrame(stud_marks_rank,columns=["Names","Rank","Marks"],index=["Row"+str(chr(i)) for i in range(65,70)])
print(df)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79

In [21]:
# iterrating on Rows
for row in df.iterrows():
    print('----------------------------')
    print("Row label is =", row[0])
    print("Row values ara =", row[1].values)

----------------------------
Row label is = RowA
Row values ara = ['Rossum' 1 95]
----------------------------
Row label is = RowB
Row values ara = ['Travis' 3 80]
----------------------------
Row label is = RowC
Row values ara = ['MCKinney' 2 90]
----------------------------
Row label is = RowD
Row values ara = ['JHunter' 4 89]
----------------------------
Row label is = RowE
Row values ara = ['Dennis' 5 79]

In [20]:
# iterrating using indexes
for i in range(0,df.shape[0]):
    print('--------------------------------')
    print("Row index is =", i)
    print("Row values are =", df.iloc[i].values)

--------------------------------
Row index is = 0
Row values are = ['Rossum' np.int64(1) np.int64(95)]
--------------------------------
Row index is = 1
Row values are = ['Travis' np.int64(3) np.int64(80)]
--------------------------------
Row index is = 2
Row values are = ['MCKinney' np.int64(2) np.int64(90)]
--------------------------------
Row index is = 3
Row values are = ['JHunter' np.int64(4) np.int64(89)]
--------------------------------
Row index is = 4
Row values are = ['Dennis' np.int64(5) np.int64(79)]

In [22]:
print(df)

         Names  Rank  Marks
RowA    Rossum     1     95
RowB    Travis     3     80
RowC  MCKinney     2     90
RowD   JHunter     4     89
RowE    Dennis     5     79

In [23]:
# itter-rating on columns
for i in range(0,df.shape[1]):
    print('*'*40)
    print("column index is =", i)
    print("column values are =", df.iloc[::1,i].values)

****************************************
column index is = 0
column values are = ['Rossum' 'Travis' 'MCKinney' 'JHunter' 'Dennis']
****************************************
column index is = 1
column values are = [1 3 2 4 5]
****************************************
column index is = 2
column values are = [95 80 90 89 79]

In [25]:
for col in df.columns:
    print('*'*40)
    print("column label is =", col)
    print("columns values area =", df[col].values)

****************************************
column label is = Names
columns values area = ['Rossum' 'Travis' 'MCKinney' 'JHunter' 'Dennis']
****************************************
column label is = Rank
columns values area = [1 3 2 4 5]
****************************************
column label is = Marks
columns values area = [95 80 90 89 79]

In [27]:
# another example 
import pandas as pd
data = pd.read_csv("C:\\Users\\SHREE\\Desktop\\Z-data_samples\\facalty.csv")
print(data)

    ID     Name  Age     City  Experience
0   11     Jack   44   Sydney          19
1   12     Riti   41    Delhi          17
2   13     Aadi   46   Mumbai          11
3   14    Mohit   45    Delhi          15
4   15    Veena   43    Delhi          14
5   16  Shaunak   42   Mumbai          17
6   17    Manik   42   Sydney          14
7   18    Vikas   42    Delhi          11
8   19    Samir   42   Mumbai          15
9   20  Shobhit   40   Sydney          12

In [30]:
for ind,val in data.iterrows():
    print('*'*40)
    print("Row name is =", ind)
    print("Row values are =", val.values)

****************************************
Row name is = 0
Row values are = [11 ' Jack' 44 ' Sydney' 19]
****************************************
Row name is = 1
Row values are = [12 'Riti' 41 ' Delhi' 17]
****************************************
Row name is = 2
Row values are = [13 'Aadi' 46 'Mumbai' 11]
****************************************
Row name is = 3
Row values are = [14 'Mohit' 45 'Delhi' 15]
****************************************
Row name is = 4
Row values are = [15 'Veena' 43 'Delhi' 14]
****************************************
Row name is = 5
Row values are = [16 'Shaunak' 42 ' Mumbai' 17]
****************************************
Row name is = 6
Row values are = [17 'Manik' 42 'Sydney' 14]
****************************************
Row name is = 7
Row values are = [18 'Vikas' 42 'Delhi' 11]
****************************************
Row name is = 8
Row values are = [19 'Samir' 42 'Mumbai' 15]
****************************************
Row name is = 9
Row values are = [20 'Shobhit' 40 'Sydney' 12]

In [32]:
for i in range(0,data.shape[0]):
    print('*'*40)
    print("Row index is =", i)
    print("Row values are =", data.iloc[i].values)

****************************************
Row index is = 0
Row values are = [np.int64(11) ' Jack' np.int64(44) ' Sydney' np.int64(19)]
****************************************
Row index is = 1
Row values are = [np.int64(12) 'Riti' np.int64(41) ' Delhi' np.int64(17)]
****************************************
Row index is = 2
Row values are = [np.int64(13) 'Aadi' np.int64(46) 'Mumbai' np.int64(11)]
****************************************
Row index is = 3
Row values are = [np.int64(14) 'Mohit' np.int64(45) 'Delhi' np.int64(15)]
****************************************
Row index is = 4
Row values are = [np.int64(15) 'Veena' np.int64(43) 'Delhi' np.int64(14)]
****************************************
Row index is = 5
Row values are = [np.int64(16) 'Shaunak' np.int64(42) ' Mumbai' np.int64(17)]
****************************************
Row index is = 6
Row values are = [np.int64(17) 'Manik' np.int64(42) 'Sydney' np.int64(14)]
****************************************
Row index is = 7
Row values are = [np.int64(18) 'Vikas' np.int64(42) 'Delhi' np.int64(11)]
****************************************
Row index is = 8
Row values are = [np.int64(19) 'Samir' np.int64(42) 'Mumbai' np.int64(15)]
****************************************
Row index is = 9
Row values are = [np.int64(20) 'Shobhit' np.int64(40) 'Sydney' np.int64(12)]

In [33]:
print(data)

    ID     Name  Age     City  Experience
0   11     Jack   44   Sydney          19
1   12     Riti   41    Delhi          17
2   13     Aadi   46   Mumbai          11
3   14    Mohit   45    Delhi          15
4   15    Veena   43    Delhi          14
5   16  Shaunak   42   Mumbai          17
6   17    Manik   42   Sydney          14
7   18    Vikas   42    Delhi          11
8   19    Samir   42   Mumbai          15
9   20  Shobhit   40   Sydney          12

In [35]:
# getting the column data
for col in data.columns:
    print('*'*40)
    print("Column is =", col)
    print("Column values are -", data[col].values)

****************************************
Column is =  ID
Column values are - [11 12 13 14 15 16 17 18 19 20]
****************************************
Column is = Name
Column values are - [' Jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Manik' 'Vikas' 'Samir'
 'Shobhit']
****************************************
Column is = Age
Column values are - [44 41 46 45 43 42 42 42 42 40]
****************************************
Column is = City
Column values are - [' Sydney' ' Delhi' 'Mumbai' 'Delhi' 'Delhi' ' Mumbai' 'Sydney' 'Delhi'
 'Mumbai' 'Sydney']
****************************************
Column is = Experience
Column values are - [19 17 11 15 14 17 14 11 15 12]

In [ ]:
# getting column indexes
for i in range(0,data.shape[1]):
    print('*'*40)
    print("column index is =", i)
    print("column values are =", data.iloc[i