# group by --wothout transform()

In [3]:
import pandas as pd
d = {"Team":["A","A","A","A","B","B","B","B"],
      "Points":[30,22,19,14,14,11,20,28] }
data = pd.DataFrame(d)
print(df)

  Team  Points
0    A      30
1    A      22
2    A      19
3    A      14
4    B      14
5    B      11
6    B      20
7    B      28

In [5]:
team = data.groupby("Team")
for gn,gval in team:
    print('---------------------')
    print("Group name is =", gn)
    print("Group value is =", gval)

---------------------
Group name is = A
Group value is =   Team  Points
0    A      30
1    A      22
2    A      19
3    A      14
---------------------
Group name is = B
Group value is =   Team  Points
4    B      14
5    B      11
6    B      20
7    B      28

In [9]:
for k in data.groupby("Team")["Points"]:
    print("Team =",k[0])
    print(k[1].values)

Team = A
[30 22 19 14]
Team = B
[14 11 20 28]

In [10]:
print(data)

  Team  Points
0    A      30
1    A      22
2    A      19
3    A      14
4    B      14
5    B      11
6    B      20
7    B      28

In [14]:
data["Average p."] = data.groupby("Team")["Points"].transform("mean")

In [19]:
# drop coolumn one extra copy is created
data.drop(columns="Average p.",inplace=True)

In [20]:
print(data)

  Team  Points  Average points
0    A      30           21.25
1    A      22           21.25
2    A      19           21.25
3    A      14           21.25
4    B      14           18.25
5    B      11           18.25
6    B      20           18.25
7    B      28           18.25

In [21]:
# another example

import pandas as pd
d = {"Team":["A","A","A","A","B","B","B","B"],
      "Points":[30,22,19,14,14,11,20,28] }
data = pd.DataFrame(d)
print(data)

  Team  Points
0    A      30
1    A      22
2    A      19
3    A      14
4    B      14
5    B      11
6    B      20
7    B      28

In [23]:
# Calculate sum points of Both Team-A and Team-B
data["Total Points"] = data.groupby("Team")["Points"].transform("sum")

In [29]:
print(data)

  Team  Points  Total Points
0    A      30            85
1    A      22            85
2    A      19            85
3    A      14            85
4    B      14            73
5    B      11            73
6    B      20            73
7    B      28            73

In [31]:
data["Average of Teams"] = data.groupby("Team")["Points"].transform("mean")

In [32]:
print(data)

  Team  Points  Total Points  Average of Teams
0    A      30            85             21.25
1    A      22            85             21.25
2    A      19            85             21.25
3    A      14            85             21.25
4    B      14            73             18.25
5    B      11            73             18.25
6    B      20            73             18.25
7    B      28            73             18.25

In [37]:
data["Percentage"] = data.groupby("Team")["Points"].transform(lambda x: round((x/sum(x))*100,2))

In [38]:
print(data)

  Team  Points  Total Points  Average of Teams  Percentage
0    A      30            85             21.25       35.29
1    A      22            85             21.25       25.88
2    A      19            85             21.25       22.35
3    A      14            85             21.25       16.47
4    B      14            73             18.25       19.18
5    B      11            73             18.25       15.07
6    B      20            73             18.25       27.40
7    B      28            73             18.25       38.36