# Creating the object of dataframe part -2 
# in which we convert ndarray and series into dataframe

In [4]:
import numpy as np
import pandas as pd

arr = np.array([10,20,30,40,50])
print(arr,type(arr))
print('----------------')
df = pd.DataFrame(arr)
print(df)
print(type(df))

[10 20 30 40 50] <class 'numpy.ndarray'>
----------------
    0
0  10
1  20
2  30
3  40
4  50
<class 'pandas.core.frame.DataFrame'>

In [8]:
ser = pd.Series(["ankit","krishna","ajay","gaurav"])
print("Series values are =")
print(ser,type(ser))
print('----------------------')
print("Dataframe values are =")
df = pd.DataFrame(ser,columns=["Names"])
print(df,type(df))

Series values are =
0      ankit
1    krishna
2       ajay
3     gaurav
dtype: object <class 'pandas.core.series.Series'>
----------------------
Dataframe values are =
     Names
0    ankit
1  krishna
2     ajay
3   gaurav <class 'pandas.core.frame.DataFrame'>

In [19]:
import pandas as pd
df = pd.read_csv("D:\\data.csv")
print(df)

       Name  Rank  Marks
0    Rossum     1     95
1    Travis     3     80
2  MCKinney     2     90
3   JHunter     4     89
4    Dennis     5     79