# Number of approaches to create an object of DataFrame

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Creating an object Fundamental Data Type Values into DataFrame--Directly Not Possible
# We convert Fundamental Data Type Values into Iterable Objects and we can create DataFrame Object

a = 10
df = pd.DataFrame([a])
print(df)

    0
0  10

In [5]:
st = "PYTHON"
df = pd.DataFrame([st])
print(df)

        0
0  PYTHON

In [8]:
# Creating an object of DataFrame by using range object
rg = range(10,21,2)
df = pd.DataFrame(rg)
print(df)

    0
0  10
1  12
2  14
3  16
4  18
5  20

In [10]:
lst = [100,200,300,400,500]
df = pd.DataFrame(lst)
print(df)

     0
0  100
1  200
2  300
3  400
4  500

In [12]:
# changing the data type of list object
lst = [100,200,300,400,500]
df = pd.DataFrame(lst,dtype=float)
print(df)

       0
0  100.0
1  200.0
2  300.0
3  400.0
4  500.0

In [13]:
# converting into coloumn by givening inner list
lst = [[1000,2000,3000,4000,5000]]
df = pd.DataFrame(lst)
print(df)

      0     1     2     3     4
0  1000  2000  3000  4000  5000

In [14]:
# Creating an object of DataFrame by using list object
names = ['ankit','ajay','krishna','gaurav']
df = pd.DataFrame(names)
print(df)

         0
0    ankit
1     ajay
2  krishna
3   gaurav

In [15]:
# converting into columns
names = [['ankit','ajay','krishna','gaurav']]
df = pd.DataFrame(names)
print(df)

       0     1        2       3
0  ankit  ajay  krishna  gaurav

In [18]:
# creating two columns in dataFrame
lst = [[100,200,300,400],['ankit','krishna','ajay','gaurav']]
df = pd.DataFrame(lst)
print(df)
print(type(df))

       0        1     2       3
0    100      200   300     400
1  ankit  krishna  ajay  gaurav
<class 'pandas.core.frame.DataFrame'>

In [19]:
names = [[100,'ankit'],[200,'ajay'],[300,'krishna'],[400,'gaurav']]
df = pd.DataFrame(names)
print(df)

     0        1
0  100    ankit
1  200     ajay
2  300  krishna
3  400   gaurav

In [28]:
# Creating an object of DataFrame by using List object 
# with Programmer-Defined Index (means Row Index)
names = [[100,200,300,400],['ankit','ajay','krishna','kunal']]
df = pd.DataFrame(names,index=['Id','Names'])
print(df)

           0     1        2      3
Id       100   200      300    400
Names  ankit  ajay  krishna  kunal

In [29]:
# Givening our own or userdefined column names
df = pd.DataFrame(names,index=['id','Names'],columns=['Rec'+str(i) for i in range(1,5)])
print(df)

        Rec1  Rec2     Rec3   Rec4
id       100   200      300    400
Names  ankit  ajay  krishna  kunal

In [33]:
lst = [[100,"RS"],[200,"TR"],[300,"JH"],[400,"DR"]]
df = pd.DataFrame(lst,index=['Rec1','Rec2','Rec3','Rec4'],columns=['ID','Name'])
print(df)

       ID Name
Rec1  100   RS
Rec2  200   TR
Rec3  300   JH
Rec4  400   DR

In [35]:
# Create DataFrame for Banks VS Loans
data = [[8.9,7.8,9.0],[7.8,7.2,9.5],[7.7,7.9,10.4]]
df = pd.DataFrame(data,index=["SBI","ICIC","HDFC"],columns=["CARLOAN","HOMELOAN","PERSONALOAN"])
print(df)

      CARLOAN  HOMELOAN  PERSONALOAN
SBI       8.9       7.8          9.0
ICIC      7.8       7.2          9.5
HDFC      7.7       7.9         10.4

In [36]:
# we can also taken as tuple format
data = ((8.9,7.8,9.0),(7.8,7.2,9.5),(7.7,7.9,10.4))
df = pd.DataFrame(data,index=["SBI","ICIC","HDFC"],columns=["CARLOAN","HOMELOAN","PERSONALOAN"])
print(df)

      CARLOAN  HOMELOAN  PERSONALOAN
SBI       8.9       7.8          9.0
ICIC      7.8       7.2          9.5
HDFC      7.7       7.9         10.4

In [40]:
# create an object of DataFrame by using set
st = {10,20,30,40,50,10,60}
df = pd.DataFrame(st)
print(df,type(df))

    0
0  50
1  20
2  40
3  10
4  60
5  30 <class 'pandas.core.frame.DataFrame'>

In [41]:
# converting into columns
st = {(10,20,30,40,50,10,60)}
df = pd.DataFrame(st)
print(df)

    0   1   2   3   4   5   6
0  10  20  30  40  50  10  60

In [43]:
# create an object of DataFrame by using Dict Object
dic = {1:"Python",2:"C",3:"C++",4:"Java",5:"Kotlin"}
df = pd.DataFrame(dic,index=['courses'])  # we must pass the index
print(df)

        1  2    3     4       5
0  Python  C  C++  Java  Kotlin

In [48]:
# create an object of DataFrame by using List in Dict
dic = {"Rank-1":["python","DCS"],"Rank-2":["Java","DSA"]}
df = pd.DataFrame(dic)
print(df)

   Rank-1 Rank-2
0  python   Java
1     DCS    DSA

In [49]:
dic = {"Rank-1":["python","DCS"],"Rank-2":["Java","DSA"]}
df = pd.DataFrame(dic,index=["Lang.", "course"])
print(df)

        Rank-1 Rank-2
Lang.   python   Java
course     DCS    DSA

In [50]:
dic = {"SBI":(8.9,7.8,9.0),"ICICI":[7.8,7.2,9.5],"HDFC":(.7,7.9,10.4)}
df = pd.DataFrame(dic)
print(df)

   SBI  ICICI  HDFC
0  8.9    7.8   0.7
1  7.8    7.2   7.9
2  9.0    9.5  10.4

In [51]:
dic = {"SBI":(8.9,7.8,9.0),"ICICI":[7.8,7.2,9.5],"HDFC":(.7,7.9,10.4)}
df = pd.DataFrame(dic,index=["CARLOAN","HOMELOAN","PERSONALOAN"])
print(df)

             SBI  ICICI  HDFC
CARLOAN      8.9    7.8   0.7
HOMELOAN     7.8    7.2   7.9
PERSONALOAN  9.0    9.5  10.4

In [52]:
dic = {"sem-1":["C","DSA","CS"],"sem-2":["C++","MICRO-PROC","PYTHON"]}
df = pd.DataFrame(dic)
print(df)

  sem-1       sem-2
0     C         C++
1   DSA  MICRO-PROC
2    CS      PYTHON

In [57]:
data = {"Rollno":[100,200,300,400],"Names":['ankit','ajay','kunal','shubham']}
df = pd.DataFrame(data,index=["Rec-"+str(i) for i in range(1,5)])
print(df)
print('------------------')
print(type(df))

       Rollno    Names
Rec-1     100    ankit
Rec-2     200     ajay
Rec-3     300    kunal
Rec-4     400  shubham
------------------
<class 'pandas.core.frame.DataFrame'>

In [60]:
data["Rollno"]

KeyError: 'Rec-2'