# Finding the Largest and Smallest values in the Series object

In [2]:
import pandas as pd
import numpy as np

sr = pd.Series([10,20,10,20,30,15,10,20,15,17,15,34,25,12])
print("Values of the series=")
print(sr)

Values of the series=
0     10
1     20
2     10
3     20
4     30
5     15
6     10
7     20
8     15
9     17
10    15
11    34
12    25
13    12
dtype: int64

In [6]:
# find max number Way 1 
sr.nlargest(1)

11    34
dtype: int64

In [22]:
# way - 2
lar = sr.nlargest(2).head(1)
print(lar)

11    34
dtype: int64

In [28]:
# way - 3
sr.nlargest(1).tail(1)

11    34
dtype: int64

In [11]:
# find first 4 largest number
sr.nlargest(4)

11    34
4     30
12    25
1     20
dtype: int64

In [12]:
# find largest number by deafult
sr.nlargest()

11    34
4     30
12    25
1     20
3     20
dtype: int64

In [13]:
print("Values of the series ")
print(sr)

Values of the series
0     10
1     20
2     10
3     20
4     30
5     15
6     10
7     20
8     15
9     17
10    15
11    34
12    25
13    12
dtype: int64

In [15]:
# find the smallest number from series -- way 1
sr.nsmallest(1)

0    10
dtype: int64

In [19]:
# way - 2
sm = sr.nsmallest(2)[0]
print(sm)

10

In [20]:
# way - 3
sm = sr.nsmallest(2).head(1)
print(sm)

0    10
dtype: int64

In [16]:
# find first 3 smallest number 
sr.nsmallest(3)

0    10
2    10
6    10
dtype: int64

In [17]:
# default value of function is 5
sr.nsmallest()   # it will give first 5 smallest values

0     10
2     10
6     10
13    12
5     15
dtype: int64

In [26]:
sr.nsmallest().tail(1)

13    12
5     15
dtype: int64