# Get and Set Series values

In [1]:
import pandas as pd
ser = pd.Series(['Ankit','Krishna','Gaurav','Sanket'])
print(ser,type(ser))

0      Ankit
1    Krishna
2     Gaurav
3     Sanket
dtype: object <class 'pandas.core.series.Series'>

In [6]:
print("First Element is =", ser[0])
print("Third Element is =", ser[2])

First Element is = Ankit
Third Element is = Gaurav

In [18]:
# Now getting number of values
print(ser[::])
print('-------------')
print(ser[1:3])

0      Ankit
1    Krishna
2     Gaurav
3     Sanket
dtype: object
-------------
1    Krishna
2     Gaurav
dtype: object

In [25]:
# getting the random elements -> krishna, sanket
print(ser[[1,3]])

1    Krishna
3     Sanket
dtype: object

In [9]:
# Now using the user defined index
sr = pd.Series(['Ankit','Krishna','Gaurav','Sanket'],
                index=['a','b','c','d'])
print("Series data is => \n", sr)

Series data is =>
 a      Ankit
b    Krishna
c     Gaurav
d     Sanket
dtype: object

In [12]:
print("First element is =", sr['a'])
print("Last element is =", sr['d'])

First element is = Ankit
Last element is = Sanket

In [22]:
# Getting number of values using labels
print(sr[::])
print('-------------')
print(sr['b':'c'])

a      Ankit
b    Krishna
c     Gaurav
d     Sanket
dtype: object
-------------
b    Krishna
c     Gaurav
dtype: object

In [26]:
# get random elements
print(sr[['a','d']])

a     Ankit
d    Sanket
dtype: object

In [28]:
import pandas as pd
ser = pd.Series(range(100,220,20))
print(ser)
print('------------------')
print(ser[::-1])  # reverse order

0    100
1    120
2    140
3    160
4    180
5    200
dtype: int64
------------------
5    200
4    180
3    160
2    140
1    120
0    100
dtype: int64

In [35]:
ser = pd.Series(range(100,220,20),index=['idx1','idx2','idx3','idx4','idx5','idx6'])
print(ser)
print('---------------')
print(ser['idx1':'idx4'])
print('---------------')
print(ser['idx6':'idx2':-1])

idx1    100
idx2    120
idx3    140
idx4    160
idx5    180
idx6    200
dtype: int64
---------------
idx1    100
idx2    120
idx3    140
idx4    160
dtype: int64
---------------
idx6    200
idx5    180
idx4    160
idx3    140
idx2    120
dtype: int64

In [37]:
# get random elements --> 160,120,200
print(ser[['idx4','idx2','idx6']])

idx4    160
idx2    120
idx6    200
dtype: int64

In [40]:
# changing the elements of series object
import pandas as pd
names = pd.Series(['Virat','Rohit','Rishabh','Shubhaman','Sanju','Bhumhra','Shami'])
print(names)
print('------------------')
names[3] = 'XYZ'
names[1] = 'ABC'
print(names)

0        Virat
1        Rohit
2      Rishabh
3    Shubhaman
4        Sanju
5      Bhumhra
6        Shami
dtype: object
------------------
0      Virat
1        ABC
2    Rishabh
3        XYZ
4      Sanju
5    Bhumhra
6      Shami
dtype: object

In [43]:
# changing multiple elements
names = pd.Series(['Virat','Rohit','Rishabh','Shubhaman','Sanju','Bhumhra','Shami'])
print(names)
print('------------------')
names[:2] = ['Sachin','Sehawagh']
print(names)

0        Virat
1        Rohit
2      Rishabh
3    Shubhaman
4        Sanju
5      Bhumhra
6        Shami
dtype: object
------------------
0       Sachin
1     Sehawagh
2      Rishabh
3    Shubhaman
4        Sanju
5      Bhumhra
6        Shami
dtype: object

In [49]:
# changing the random elements --> shubhaman,shami,Rohit
names = pd.Series(['Virat','Rohit','Rishabh','Shubhaman','Sanju','Bhumhra','Shami'])
print(names)
print('------------------')

# first get its position index
names[[3,6,1]] = ['XYZ','PQR','ABC']
print(names)

0        Virat
1        Rohit
2      Rishabh
3    Shubhaman
4        Sanju
5      Bhumhra
6        Shami
dtype: object
------------------
0      Virat
1        ABC
2    Rishabh
3        XYZ
4      Sanju
5    Bhumhra
6        PQR
dtype: object

In [52]:
names = pd.Series(['Virat','Rohit','Rishabh','Shubhaman','Sanju','Bhumhra','Shami'],
                   index=['a','b','c','d','e','f','g'])
print(names)
print('------------------')
names['d'] = 'MS Dhoni'
names['g'] = 'yuzi chahal'
print(names)

a        Virat
b        Rohit
c      Rishabh
d    Shubhaman
e        Sanju
f      Bhumhra
g        Shami
dtype: object
------------------
a          Virat
b          Rohit
c        Rishabh
d       MS Dhoni
e          Sanju
f        Bhumhra
g    yuzi chahal
dtype: object

In [56]:
# get sub list values
print(names['a':'d'])
print('-----------------')
print(names['g':'c':-1])

a       Virat
b       Rohit
c     Rishabh
d    MS Dhoni
dtype: object
-----------------
g    yuzi chahal
f        Bhumhra
e          Sanju
d       MS Dhoni
c        Rishabh
dtype: object

In [57]:
# getting the random elements --> Bhumhra,sanju,rishabh,virat
print(names[['f','e','c','a']])

f    Bhumhra
e      Sanju
c    Rishabh
a      Virat
dtype: object

In [58]:
# setting one common name to all series elements
names[::] = 'Ankit'
print(names)

a    Ankit
b    Ankit
c    Ankit
d    Ankit
e    Ankit
f    Ankit
g    Ankit
dtype: object

In [60]:
names[::2] = 'Kunal'
print(names)

a    Kunal
b    Ankit
c    Kunal
d    Ankit
e    Kunal
f    Ankit
g    Kunal
dtype: object

In [62]:
print(names[1::2])
print('-------------------')
print(names[::2])

b    Ankit
d    Ankit
f    Ankit
dtype: object
-------------------
a    Kunal
c    Kunal
e    Kunal
g    Kunal
dtype: object