# Statistical Operations in Series

In [52]:
import pandas as pd
import numpy as np

players = {'Rohit':40, 'Virat':100, 'Rishabh':60, 'Gill':38, 'suryakumar':87, 'Bhuhbhra': 30, 'Shami':29}
print(players,type(players))

{'Rohit': 40, 'Virat': 100, 'Rishabh': 60, 'Gill': 38, 'suryakumar': 87, 'Bhuhbhra': 30, 'Shami': 29} <class 'dict'>

In [53]:
# convert dict into series object
players = pd.Series(players)
print(players,type(players))

Rohit          40
Virat         100
Rishabh        60
Gill           38
suryakumar     87
Bhuhbhra       30
Shami          29
dtype: int64 <class 'pandas.core.series.Series'>

In [6]:
# creating one new player data with null value
players['Ishant'] = np.nan

In [7]:
print(players)

Rohit          40.0
Virat         100.0
Rishabh        60.0
Gill           38.0
suryakumar     87.0
Bhuhbhra       30.0
Shami          29.0
Ishant          NaN
dtype: float64

In [8]:
# find the Players who played some runs
total = players.sum()
print("Total Runs by all players =", total)

Total Runs by all players = 384.0

In [11]:
# Find the Players who played some runs or not runs
tot_player = players.size
print("Total number of players in team =", tot_player)
runs_player = players.count()
print("Number of players those have some Runs =", runs_player)

# getting those players haved doesn't any runs
no_runs = tot_player-runs_player
print("Players doesn't make any Runs ", no_runs)

Total number of players in team = 8
Number of players those have some Runs = 7
Players doesn't make any Runs  1

In [23]:
# Find the Player who played Highest OR Max runs
mx_run = players.max()
print("HIghest Runs are =", mx_run)

HIghest Runs are = 100.0

In [25]:
print(players.isna().sum())

1

In [26]:
print(players.isnull().sum())

1

In [27]:
# Find the Player who played least OR Min runs
mn = players.min()
print("Lowest Score is =", mn)

Lowest Score is = 29.0

In [29]:
# Find the average runs played by all players
mean = players.mean()
print("Average Runs of players is =", round(mean,3))

Average Runs of players is = 54.857

In [30]:
# Find the median runs played by all players 
median = players.median()
print("Median Runs of players is =", median)

Median Runs of players is = 40.0

In [31]:
players['Dhoni'] = 68
print(players)

Rohit          40.0
Virat         100.0
Rishabh        60.0
Gill           38.0
suryakumar     87.0
Bhuhbhra       30.0
Shami          29.0
Ishant          NaN
Dhoni          68.0
dtype: float64

In [32]:
# Find the median runs played by all players 
median = players.median()
print("Median Runs of players is =", median)

Median Runs of players is = 50.0

In [33]:
# Find the variance  of runs played by all players
var = players.var()
print("Variance Runs of players is =", var)

Variance Runs of players is = 720.0

In [35]:
# Find the standard deviation  of runs played by all players  
std = players.std()
print("Standard deviation Runs of players is =", round(std,3))

Standard deviation Runs of players is = 26.833

In [37]:
# find summary  of statistics for each column  ---> describe() function
des = players.describe()
print(players)
print('---------------------------')
print("Summary of All players Data is =")
print(des)

Rohit          40.0
Virat         100.0
Rishabh        60.0
Gill           38.0
suryakumar     87.0
Bhuhbhra       30.0
Shami          29.0
Ishant          NaN
Dhoni          68.0
dtype: float64
---------------------------
Summary of All players Data is =
count      8.000000
mean      56.500000
std       26.832816
min       29.000000
25%       36.000000
50%       50.000000
75%       72.750000
max      100.000000
dtype: float64

In [44]:
names = pd.Series(["Ankit", "Krishna", "Ajay", "Sanket", "Gaurav", "Kunal", "Vedant", "Ankit"])
print(names)
print('-----------------------')
print("Summary of data is =")
print(names.describe())

0      Ankit
1    Krishna
2       Ajay
3     Sanket
4     Gaurav
5      Kunal
6     Vedant
7      Ankit
dtype: object
-----------------------
Summary of data is =
count         8
unique        7
top       Ankit
freq          2
dtype: object

In [47]:
# Performing the vector based operation
import pandas as pd
ser = pd.Series([10,20,30])
print(ser)
print('--------------')

ser += 1
print(ser)

0    10
1    20
2    30
dtype: int64
--------------
0    11
1    21
2    31
dtype: int64

In [51]:
sr = pd.Series([100,200,300])
print(sr)
print('---------------')

sr *= 3
print(sr)

0    100
1    200
2    300
dtype: int64
---------------
0    300
1    600
2    900
dtype: int64

In [56]:
# Problem statment on the Series
import numpy as np
import pandas as pd

temp = pd.Series([22,24,27,25,23,21,26],index=['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
print("Given Temperature")
print(temp)

Given Temperature
Mon    22
Tue    24
Wed    27
Thu    25
Fri    23
Sat    21
Sun    26
dtype: int64

In [58]:
# find the average temperture
avg_temp = temp.mean()
print("All Day's Average Temperature is =", avg_temp)

All Day's Average Temperature is = 24.0

In [61]:
# find the difference between average temp and each day temp
diff_temp = temp - avg_temp
print("Difference between average temperature and each day temperature =\n",diff_temp)

Difference between average temperature and each day temperature =
 Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64

In [62]:
# The Temparature Increase  if each day was 2 degrees warmer
temp += 2
print("Now the temperature will be ")
print(temp)

Now the temperature will be
Mon    24
Tue    26
Wed    29
Thu    27
Fri    25
Sat    23
Sun    28
dtype: int64

In [63]:
# find the average temperture
avg_temp = temp.mean()
print("All Day's Average Temperature is =", avg_temp)

All Day's Average Temperature is = 26.0

In [64]:
# find the difference between average temp and each day temp
diff_temp = temp - avg_temp
print("Difference between average temperature and each day temperature =\n",diff_temp)

Difference between average temperature and each day temperature =
 Mon   -2.0
Tue    0.0
Wed    3.0
Thu    1.0
Fri   -1.0
Sat   -3.0
Sun    2.0
dtype: float64